body {background-color:rgb(24, 24, 24);}
img {
  position: relative;
  top: 100px;
  height: 90px;
  width: 90px;
}
@font-face {
	src: url('fonts/Sketch Gothic School.ttf'); 
  font-family: 'Sketch';
  font-style: normal;}
t2{
	position: relative;
	top: 100px;
	font-family: 'Sketch';
    color: white;
    font-size: 70px;
    font-weight:100;
   
  }
div{
	

    animation-name: example;
  	animation-duration: 4s;
  	text-align: center;
}
@keyframes example {
  from {font-size: 500px;}
/*  25% {background-image: url(img/note.png);
  		background-repeat: no-repeat;}*/
 /* to {background-image: url(img/note.png);
  		background-repeat: no-repeat;
  		position: absolute;  	}*/
  		
  
}

