body {background-image: linear-gradient(to right, #310909, #1b1217);
      background-attachment: fixed;}
   
img {
  position: relative;
  top: 100px;
  height: 110px;
  width: 110px;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}
@font-face {
	src: url('fonts/Wendell_v1.ttf'); 
  font-family: 'Wendell';
  font-style: normal;}
t2{
  position: relative;
  font-family: 'Wendell';
  color: white;
  font-size: 30px;
  top: 120px; 
  text-align: center;
  border-radius: 0%;
  }
.intro{
    
  	animation-duration: 4s;
    text-align: center;
}
.intro.hidden{
  animation-name: example;
  animation-fill-mode: forwards;

}
@keyframes example {
   0% {font-size: 100px;} 
   100% {opacity: 0;top: 20;
      visibility: hidden;} 
  
}
@keyframes fadein{
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1;
        visibility: visible;}
}
.saisi{
  
  animation-name: fadein;
  animation-delay: 3.5s;
  text-align: center;
  animation-fill-mode: backwards;
}
  
  #welcome {
    bottom: 90px;
    position: relative;
    font-family: 'Wendell';
    color: white;
    font-size: 50px;
    text-align: center;
    border-radius: 0%;
  }
  #text{
    text-align: center;
    position: relative;
    font-family: 'Gadget';
    color: white;
    font-size: 13px;
    text-align: center;
  }  
  * {box-sizing: border-box;}


.header {
  height: 50px;
    position: fixed;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    z-index:10 ;
    background:#12171c ;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  height: 50px;
  width: 50px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(56, 43, 43);
  color: black;
}

.header a.active {
  background-color: rgb(44, 15, 15);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}