article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; 
  text-align: center;}

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: rgb(235, 230, 230); }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  object-position: center; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0;
  background-color:rgb(27, 27, 27); }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.quiz {
  color: white;
  font-family: "Open Sans", sans-serif,bold;
  width: 80%;
  margin: 0 auto;
  font-weight: lighter;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
   }
   .welcome {
    color: white;
    font-family: "Open Sans", sans-serif,bold;
    width: 80%;
    margin: 0 auto;
    top: 20px;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     }
   .article {
    color: white;
    font-family: "Open Sans", sans-serif,bold;
    width: 90%;
    font-size: 30px;
    margin: 0 auto;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     }
     .article-l {
      color: white;
      font-family: "Open Sans", sans-serif,bold;
      width: 90%;
      font-size: 30px;
      margin: 0 auto;
      font-weight: lighter;
      margin-left: auto;
     
    
       }
.questions p {
 
  font-size: 1.3em; }
  .questions p.result {
    text-align: center;
    font-size: 1em; }
  .questions p.wrong {
    color: #990000; }
  .questions p.right {
    color: #009900; }
.questions ul {
  padding: 0;
  color: #2c2b2b;
  list-style-type: none; }
  .questions ul li {
    padding: 10px;
    background: #ececec;
    margin: 15px 0;
    position: relative;
    cursor: pointer; }
    .questions ul li:hover {
      background: rgb(163, 160, 160); }

.answers .answer .q {
  font-weight: bold; }
.details .detail .d {
  font-weight: bold;
}
body {background-image: linear-gradient(to right, #310909, #1b1217);
  background-attachment: fixed;}

img {
position: relative;
top: 100px;
height: 110px;
width: 110px;
text-align: center;
justify-content: center;
align-items: center;

}
@font-face {
src: url('fonts/Wendell_v1.ttf'); 
font-family: 'Wendell';
font-style: normal;}
t2{
  position: relative;
  font-family: 'Wendell';
  color: white;
  font-size: 30px;
  top:120px;
  text-align: center;
  border-radius: 0%;
}
.intro{

animation-duration: 4s;
text-align: center;
}
.intro.hidden{
animation-name: example;
animation-fill-mode: forwards;

}
@keyframes example {
0% {font-size: 100px;} 
100% {opacity: 0;top: 20;
  visibility: hidden;} 

}
@keyframes fadein{
0% {opacity: 0; visibility: hidden;}
100% {opacity: 1;
    visibility: visible;}
}
.saisi{

animation-name: fadein;
animation-delay: 3.5s;
text-align: center;
animation-fill-mode: backwards;
}

#welcome {
bottom: 90px;
position: relative;
font-family: 'Wendell';
color: white;
font-size: 50px;
text-align: center;
border-radius: 0%;
}
#text{
text-align: center;
position: relative;
font-family: 'Gadget';
color: white;
font-size: 13px;
text-align: center;
}  
* {box-sizing: border-box;}


/* .header {
height: 50px;
position: fixed;
height: 10%;
width: 100%;
top: 0;
left: 0;
z-index:10 ;
background:#12171c ;
} */

.header a {
float: left;
color: black;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.logo {
font-size: 15px;
height: 5px;
width: 5px;

/* background-image: url("src/img/Escape_Sorbonne.png"); */
/* font-weight: bold; */
}

.header a:hover {
background-color: rgb(56, 43, 43);
color: black;
}

.header a.active {
background-color: rgb(44, 15, 15);
color: white;
}

.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}

.header-right {
float: none;
}
}
.t{
	color: rgb(29, 10, 10);
  font-family: "Open Sans", sans-serif;
  /* width: 80%; */
  margin: 0 auto;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  }
  
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .but {
    background-color: rgb(172, 131, 115);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
     }

.button4 {border-radius: 12px;}
#rcorners2 {
  border-radius: 25px;
  /* background-image: linear-gradient(to top, #8b6060, #471818); */
  border: 1px solid rgb(110, 66, 66);
  padding: auto; 
  width: auto;
  height: auto;  
  /* margin-left: auto;
  margin-right: auto; */
  margin : 0 auto;
  text-align: center;
  /* vertical-align: middle; */
}
.form_ins {
  padding: 40px;
  padding-bottom: 50px;
  margin : 0 auto;
  text-align: center;
}
#form_1{
 padding-bottom: 50px;
}